
    <h2>Edit</h2>
    <div>
        <form name="EditForm" ng-submit="makeCtrl.updateMake()">
            <div class="form-group">
                <div>
                    <label><b>Name:</b></label>
                    <input type="text" value={{makeCtrl.vehicleMakeById.Name}}
                              ng-model="makeCtrl.vehicleMakeById.Name"
                           minlength="1" required>
                    <div ng-messages="EditForm.name.$error"
                         ng-if="EditForm.name.$dirty">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div>
                    <label><b>Abrv:</b></label>
                    <input type="text" value={{makeCtrl.vehicleMakeById.Abrv}}
                                 ng-required="true"  ng-model="makeCtrl.vehicleMakeById.Abrv"
                           minlength="1" required />
                    <div ng-messages="EditForm.abrv.$error"
                         ng-if="EditForm.name.$dirty">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </form>
    </div>
