
    <div>
        <div>
            <div>
                <a ui-sref="Home.CreateNew">Create New</a>
            </div>

        </div>
        <br/>
        <div>
                <input type="text" ng-model="makeCtrl.filter">
               <button ng-click="makeCtrl.search()">Search</button>
               
        </div>
        <div>
            <button ng-click="makeCtrl.sort()">Sort</button>
           
        </div>
        <table ng-view class="table-striped col-xs-10"style="font-size:large">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Abrv</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="vehicle in makeCtrl.vehicleMakeData|itemsPerPage:makeCtrl.pageSize" total-items="makeCtrl.totalCount">
                    <td>{{vehicle.Name}}</td>
                    <td>{{vehicle.Abrv}}</td>
                    <td class="col-md-1"><a ui-sref="Home.Edit({Id:vehicle.Id})">Edit</a> </td>
                    <td class="col-md-1"> <a ui-sref="Home.Details({Id:vehicle.Id})">Details</a></td>
                    <td class="col-md-1"> <a ui-sref="Home.Delete({Id:vehicle.Id})">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5"
                                 direction-links="true"
                                 boundary-links="true"
                                 on-page-change="makeCtrl.getPaged(newPageNumber)">
                              
        </dir-pagination-controls>
        <form>

        </form>
      <div ui-view ="">

      </div>
    </div>
